@model LogiinLogout.Models.employee

@{
    ViewData["Title"] = "login";
}

<h1>login</h1>

<h4>employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p style="color:red;">@ViewBag.error</p>
        <form asp-action="login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="employeemail" class="control-label"></label>
                <input asp-for="employeemail" class="form-control" />
                <span asp-validation-for="employeemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employeepassword" class="control-label"></label>
                <input asp-for="employeepassword" class="form-control" />
                <span asp-validation-for="employeepassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
